@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import 'tailwindcss';

@theme {
    --font-title: Kavoon, serif;
    --font-content: Bricolage Grotesque, sans-serif;
    --color-primaryText: #0B090A;
    --color-background: #FFF9FA;
},