@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-title: Kavoon, serif;
  --font-content: Bricolage Grotesque, sans-serif;
  --color-primaryBlack: #0b090a;
  --color-primaryWhite: #fff9fa;
  --color-likeColor: #ed6b86;
  --color-pinkNotify: #f54669;
  --color-formColorLight: #fab3a9;
  --color-formColorDark: #ed6b90;
  --color-redPink: #da1b41;
  --color-bgBlack: #1b1a1a;
  --color-bgWhite: #f8f8f8;
  --breakpoint-md: 1100px;
  --breakpoint-inScroll: 1820px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.borderPinks {
  border: 1px double var(--color-formColorLight);

  border-right-color: var(--color-formColorDark);
  border-top-color: var(--color-formColorLight);
  border-bottom-color: var(--color-formColorDark);
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}
.dark .custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}
.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #52525b; /* zinc-600 */
  border-radius: 999px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #52525b; /* zinc-600 */
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #71717a; /* zinc-500 */
}

.color-change-2x {
  -webkit-animation: color-change-2x 4s linear infinite alternate both;
  animation: color-change-2x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    color: #fab3a9;
  }
  100% {
    color: #ed6b86;
  }
}
@keyframes color-change-2x {
  0% {
    color: #ed6b86;
  }
  100% {
    color: #fab3a9;
  }
}
